spring:
  jpa:
    defer-datasource-initialization: true
  datasource:
    username: sa
    password:
    url: jdbc:h2:mem:test;DB_CLOSE_DELAY=-1;DATABASE_TO_UPPER=false
  h2:
    console:
      enabled: true